.load_more_brands{
    background: #fafafa;
    text-align: center;
    margin: 0 0 30px;
    border: 1px solid #eee;
    border-color: var(--stroke_black);
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: background-color .2s ease;
    border-radius: 3px;
}
.load_more_brands:hover{
    background-color: #f2722c;
    border-color: #f2722c;
}
.load_more_brands_text{
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 21px 0 21px 0;
    color: var(--white_text_black);
    font-size: 0.733em;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.load_more_brands:hover>span{
    color: white;
}
.load_more_brands_text:hover{
    color: white;
}