.documents.item-views .item .preview-text p {
  margin-top: 0px;
}
.documents-itemses{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.documents.item-views .item .link-block-more {
  margin: 30px 0px 0px;
}
.documents.item-views .owl-carousel.shadow .owl-stage-outer {
  margin: -25px;
  padding: 25px;
}
.documents.item-views .owl-carousel.shadow .owl-item {
  flex-shrink: 0;
}

.documents.item-views.compact .item-wrapper {
  padding: 0;
}
.documents.item-views.compact .owl-item:hover {
  z-index: 2;
}
.documents.item-views.compact .item {
  padding: 26px 51px 36px;
  margin-right: -1px;
}
.documents.item-views.compact .item.wlogo .image {
  width: 60px;
  height: 50px;
  line-height: 50px;
}
.documents.item-views.compact .item:not(.wlogo) .image {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.documents.item-views.compact .votes_block.nstar.big .ratings .item-rating svg {
  width: 15px;
  height: 14px;
}
.documents.item-views.compact.linked .votes_block.nstar.big .ratings .item-rating svg {
  width: 21px;
  height: 20px;
}
.documents.item-views.compact .item .top_wrapper .top-info .wrap {
  padding-bottom: 1px;
}
.documents.item-views.compact .item .svg-inline-quote {
  left: -22px;
}
.documents.item-views.compact .item .svg-inline-quote svg {
  width: 22px;
  height: 15px;
}
.documents.item-views.compact .item .link-block-more {
  margin-top: 25px;
}
.documents.item-views.compact .owl-stage {
  display: flex;
}
.documents.item-views.compact .item-wrapper,
.documents.item-views.compact .item {
  height: 100%;
  display: flex;
}

.documents.item-views.compact.linked .item.wlogo .image {
  width: 80px;
  height: 62px;
  line-height: 62px;
}
.documents.item-views.compact.linked .item:not(.wlogo) .image {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.documents.item-views.list-mode .item-wrapper {
  height: 100%;
}
.documents.item-views.list-mode .respone_wrap {
  padding: 30px 51px;
  margin-top: -1px;
  background: #fcfcfc;
  background: var(--light_bg_black);
}
.documents.item-views.list-mode .with-img .response_body {
  padding-left: 60px;
}
.documents.item-views.list-mode .response_img {
  float: left;
  overflow: hidden;
  text-align: center;
}
.documents.item-views.list-mode .response_img img {
  width: 40px;
  height: 40px;
}
.documents.item-views.list-mode .respone_wrap .response_title {
  margin-bottom: 4px;
  margin-top: -0.6rem;
}
.documents.item-views.list-mode .item.no_img .title {
  margin-bottom: 0;
}

.documents.item-views.list-mode .item .body-info {
  padding: 0;
}
.documents.item-views.list-mode .item .top_wrapper {
  padding: 0;
}
.documents.item-views.list-mode .item {
  border: none;
  padding: 0px;
  font-size: 12px;
}
.documents.item-views.list-mode .items {
  margin-top: 0;
}

.documents.item-views .item .body-info .files_block {
  margin-top: 40px;
}
.documents.item-views .item .body-info .video_block {
  margin-top: 50px;
}
.documents.item-views .item .body-info .video_block .video {
  margin-top: 20px;
}
.documents.item-views .item .body-info .video_block .video:first-child {
  margin-top: 0;
}

.documents .shadow .box-shadow:hover {
  z-index: 2;
}

.documents.item-views.more-item .item {
  padding-left: 39px;
  padding-right: 39px;
}
body .documents.item-views.more-item .item .svg-inline-quote {
  display: none;
}
.documents.item-views.more-item .item .top_wrapper,
.documents.item-views.more-item .item .body-info {
  padding: 0px;
}

.with-text-block-wrapper > .row > div:first-of-type {
  padding-bottom: 25px;
}
.with-text-block-wrapper .documents.item-views {
  padding-top: 5px;
}

.with-text-block-wrapper .block-links {
  margin: 0px -8px;
}
.with-text-block-wrapper .block-links > span {
  padding: 0px 3px 0 8px;
}

.with-text-block-wrapper .documents.item-views.more-item .item {
  padding-top: 29px;
  padding-bottom: 39px;
}
.with-text-block-wrapper .documents.item-views .item .top_wrapper {
  margin-bottom: 5px;
}

@media (min-width: 1100px) {
  .documents.item-views:not(.compact) .item {
    padding: 0 207px;
  }
  .documents.item-views .item .body-info .svg-inline-quote {
    display: block;
  }
}
@media (min-width: 992px) {
  .documents .flexslider .slides .bordered {
    border-left-color: transparent;
  }
  .documents .flexslider.shadow .flex-viewport:before {
    border-right: 1px solid #f2f2f2;
    border-color: var(--stroke_black);
  }
}
@media (max-width: 991px) {
}

@media (min-width: 768px) {
  .documents.item-views .item .body-info .votes_block {
    display: none;
  }
  .documents.item-views .item .top-info .votes_block.nstar {
    margin-top: -11px;
  }

  .documents.item-views.compact .votes_block.nstar {
    position: absolute;
    right: 41px;
    top: 42px;
  }
  .documents.item-views.compact .item .body-info {
    margin-top: 9px;
  }

  .documents.item-views.compact.linked .item .body-info {
    margin-top: 20px;
  }

  .documents.item-views.compact.linked .votes_block.nstar {
    right: 50px;
    top: 52px;
  }

  .documents.item-views.compact.list-mode .item-wrapper {
    margin: 32px 0 0 0;
  }
  .documents.item-views.compact.list-mode .item-wrapper:first-child {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .documents.item-views .item .top-info .votes_block.nstar {
    display: none;
  }
  .documents.item-views .item .body-info .votes_block {
    display: block;
    margin: -10px 0px 10px;
  }
  .documents.item-views .owl-carousel .owl-item{
    width: 360px!important;
    margin-right: -1px;
  }
}
@media (max-width: 600px) {
  #main .documents.item-views.compact {
    border: none;
  }
  .documents.item-views .owl-carousel .owl-stage-outer {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .documents.item-views .owl-carousel .owl-stage {
    display: flex;
  }
  .front_review .documents.item-views .item-wrapper {
    /* width: 320px !important; */
    border: 1px solid #ececec;
    border-color: var(--stroke_black);
    background-color: #fff;
    background-color: var(--card_bg_black);
    height: 100%;
    padding: 25px 29px 29px;
    border-radius: 3px;
  }
  #main .documents.item-views .item-wrapper .item {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .documents.item-views .item .top_wrapper {
    display: flex;
  }
  .documents.item-views .item .top_wrapper .image {
    margin-right: 20px;
  }
  .documents.item-views .item .top_wrapper .top-info {
    margin-top: -5px;
    padding-left: 0;
    padding-right: 0;
  }
  body .documents.item-views .item .top_wrapper .top-info .wrap {
    padding-bottom: 2px;
  }
  body .documents.item-views .item:not(.wlogo) .image {
    width: 50px;
    height: 50px;
    line-height: 50px;
    flex-shrink: 0;
    margin-bottom: 5px;
  }
  .documents.item-views .item .date {
    font-size: 12px;
    line-height: 13px;
  }
  body .documents.item-views .item .title {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: -2px;
  }
  .documents.item-views .item .body-info .votes_block {
    margin-bottom: 5px;
  }
  .documents.item-views .item .votes_block.nstar.big .ratings .item-rating svg {
    width: 13px;
    height: 13px;
  }
  .documents.item-views .item .votes_block.nstar .ratings .item-rating {
    padding: 0px 4px 0 0px;
  }
  .documents.item-views .item .link-block-more {
    margin: 23px 1px 0px;
  }

  .front_review .text_before_items {
    line-height: 1.54em;
  }
  .front_review .with-text-block-wrapper .btn {
    margin-top: 8px;
  }

  .documents.item-views.compact.list-mode .item-wrapper {
    padding: 0;
  }
  #main .documents.item-views.compact.list-mode .item-wrapper .item {
    padding: 25px 29px 36px;
  }
  .documents.item-views.list-mode .respone_wrap {
    margin: -1px;
  }
}
@media (min-width: 601px) {
  .documents.item-views .item .image.pull-left + .top-info {
    padding-left: 111px;
  }
  .documents.item-views .item:not(.wlogo) .image.pull-left + .top-info {
    padding-left: 100px;
  }
  .documents.item-views .item .image.pull-right + .top-info {
    padding-right: 111px;
  }
  .documents.item-views .item:not(.wlogo) .image.pull-right + .top-info {
    padding-right: 100px;
  }

  .documents.item-views.compact .item.wlogo .image.pull-left + .top-info {
    padding-left: 80px;
  }
  .documents.item-views.compact .item.wlogo .image.pull-right + .top-info {
    padding-right: 80px;
  }
  .documents.item-views.compact .item:not(.wlogo) .image.pull-left + .top-info {
    padding-left: 70px;
  }
  .documents.item-views.compact .item:not(.wlogo) .image.pull-right + .top-info {
    padding-right: 70px;
  }

  .documents.item-views.compact.linked .item.wlogo .image.pull-left + .top-info {
    padding-left: 111px;
  }
  .documents.item-views.compact.linked .item.wlogo .image.pull-right + .top-info {
    padding-right: 111px;
  }
  .documents.item-views.compact.linked .item:not(.wlogo) .image.pull-left + .top-info {
    padding-left: 100px;
  }
  .documents.item-views.compact.linked .item:not(.wlogo) .image.pull-right + .top-info {
    padding-right: 100px;
  }

  .documents.item-views .item .body-info {
    padding: 0 0 0 24px;
  }
  .documents.item-views .item .top_wrapper {
    padding: 0 0px 0 23px;
  }
}

@media (max-width: 500px) {
  .documents.item-views.list-mode .response_img {
    float: none;
    margin-bottom: 16px;
  }
  .documents.item-views.list-mode .with-img .response_body {
    padding-left: 0;
  }
  .documents.item-views.list-mode .respone_wrap .response_title {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .documents.item-views .owl-carousel .owl-item{
    width: 260px!important;
  }
}
.product-doc-url{
  display: flex;
  border: 2px solid #f2722c;
  background-color: transparent;
  color: #f2722c;
  cursor: pointer;
  width: fit-content;
  padding: 15px;
  font-size: 17px;
  border-radius: 15px;
}
.product-doc-url:hover,.product-doc-url:focus{
  background-color: #f2722c;
  color: white;
  border: none;
}